header {
    height: 25vh;
    background-color: rgb(68, 68, 68);
}

p {
    text-align: center;

    background-color: #EFEFEF;
    margin: 0 20vh;
    padding: 35vh 0 35vh 0;
}

h2 {
    text-align: center;
    background-color: black;
    height: 10vh;
    margin: 0 20vh;
}
 
body {
    background-color: #d8d8d8;
}

